  <section class="about" id="about">
    <div class="container">
      <p>
        <strong>Cryptologic</strong> provides consulting and <b>project development services addressed to cryptographic and blockchain technology.</b>
        We focus on financial and economic tools, legal vehicles design (Smart Contracts and DAO'S) and solutions for social and
        financial inclusion achieving through this way secures, transparents, auditables, and irreversibles actions.
      </p>
    </div>

    <a href="#services" class="btn btn-outline-secondary">See our services <i class="icon-arrow-right"></i></a>
    <a href="#team" class="btn btn-outline-secondary">Meet our team <i class="icon-arrow-right"></i></a>
  </section>