<section class="our-background" id="projects">
    <header>
      <h1>Our <b>Background</b></h1>
      <p>
        Consulting and Project development.
      </p>
    </header>

    <div class="container">
      <div class="our-bg-item">
        <div class="row">
          <div class="col text-left px-5 order-2 order-md-1">
            Bitsign's BaaS (Blockchain as a Service) is a service which acts as an abstraction layer and lets you interact
            with different types of blockchains and run descentralized apps (DApps) like Smart Contracts.
            <a href="https://bitsign.io" target="_blank">Project Site</a>
          </div>
          <div class="col-sm-5 order-1 order-md-2"><img src="assets/img/bitsign-logo.png" class="img-fluid"></div>
        </div>
      </div><!-- .our-bg-item -->

      <div class="our-bg-item">
        <div class="row">
          <div class="col-sm-5"><img src="assets/img/senc-logo2.png" class="img-fluid" alt="senc-logo" width="230" height="60"></div>
          <div class="col text-left px-5">
            Sentinel Chain is a B2B marketplace specifically designed to provide affordable and secure financial services to the unbanked.
            <a href="https://www.sentinel-chain.org/" target="_blank">Project Site</a>
          </div>
        </div>
      </div><!-- .our-bg-item -->

      <div class="our-bg-item">
        <div class="row">
          <div class="col text-left px-5 order-2 order-md-1">
            Ubanx will be the easiest way for everyone to access cryptocurrency and blockchain financial services, providing
            a digital platform and physical spaces to meet, learn and connect. 
            <a href="https://ubanx.io" target="_blank">Project Site</a>
          </div>
          <div class="col-sm-5 order-1 order-md-2"><img src="assets/img/ubanx-logo.png" class="img-fluid"></div>
        </div>
      </div><!-- .our-bg-item -->

      <div class="our-bg-item">
        <div class="row">
          <div class="col-sm-5"><img src="assets/img/inclusivity-logo.png" class="img-fluid" alt="senc-logo" width="230" height="60"></div>
          <div class="col text-left px-5">
            A complete and evolving banking and financial ecosystem based on Blockchain, “Mobile Money” and other Technologies,
            an alternativeto the traditional banking and financial system.
            <a href="http://inclusivity.network/en/" target="_blank">Project Site</a>
          </div>
        </div>
      </div><!-- .our-bg-item -->

      <div class="our-bg-item">
        <div class="row">
          <div class="col text-left px-5 order-2 order-md-1">
            Holiback será la primera plataforma de turismo y entretenimento 100% basada en blockchain a ofrecer servicios
            con hasta 75% de cashback.
            <a href="http://holiback.com/" target="_blank">Project Site</a>
          </div>
          <div class="col-sm-5 order-1 order-md-2"><img src="assets/img/holiback-logo.png" width="230" height="60" class="img-fluid"></div>
        </div>
      </div><!-- .our-bg-item -->
    </div>
  </section>