  <section class="latest-news" id="blog">
    <div class="container">
      <div class="row">
        <a target="_blank" href="https://medium.com/cryptologic/criptoeconom%C3%ADa-la-revoluci%C3%B3n-blockchain-9b2002c7bf1f" class="col-md-6 blog-post-item">
          <header style="background-image: url(assets/img/blog-post-1.jpg);"></header>
          <h3>Criptoeconomía: la revolución Blockchain</h3>
          <p>
            A partir del white paper: “Bitcoin: A Peer-to-Peer Electronic Cash System”
            de claros tintes libertarios y en el cual se da lugar a ...
          </p>
        </a>
        <a target="_blank" href="https://medium.com/cryptologic/tokens-por-la-sec-2c1da2aa9570" class="col-md-6 blog-post-item">
          <header style="background-image: url(assets/img/blog-post-2.jpg);"></header>
          <h3>Tokens, por la SEC</h3>
          <p>
            El reporte emitido por la SEC, a partir de su investigación sobre los instrumentos digitales de financiación (tokens) ...
          </p>
        </a>
      </div>
    </div>

    <footer class="text-center">
      <h1>Want Cryptologic <b>latest news?</b></h1>
      <p>
        Read the World’s most popular news of BlockChain.<br>
        Simple and Secure.
      </p>

      <div>
        <a href="https://medium.com/cryptologic" target="_blank" class="btn btn-primary">Visit our blog <i class="icon-arrow-right"></i></a>
      </div>
    </footer>
  </section>