  <section class="contact-us" id="contact">
    <div class="container">
      <header>
        <h1>We're building <b>the future</b> of Smart Contracts</h1>
        <p>
          Meet the team behind Cryptologic 
        </p>
      </header>

      <div class="row">
        <div class="col-lg-4 offset-lg-6">
          <p>
            If you have questions, suggestions, ideas, or just need 
            information about projects and our services, please 
            contact us in the way most convenient for you.

            <br>

            <h4>Get in touch!</h4>

            <div class="row">
              <div class="col">
                  <h6>E-mail</h6>
                  info@cryptologic.io
              </div>
              <div class="col">
                  <h6>Location</h6>
                  Rosario, Argentina
              </div>
            </div>

            <a href="mailto:info@cryptologic.io" class="btn btn-primary">Let's talk</a>
          </p>
        </div>
      </div>
    </div>
    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/img/cryptologic-logo-footer.png">
          </div>
          <div class="col text-center">

            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#team">Team</a>
            <a href="#projects">Projects</a>
            <a href="#partners">Partners</a>
            <a href="#blog">Blog</a>
            <a href="#contact">Contact</a>

            <br>

            <small>
              <b>©2018 CRYPTOLOGIC.</b> BLOCKCHAINS DEVELOPMENTS . ALL RIGHTS RESERVED.
            </small>

          </div>
          <div class="col-md-2 text-right">
            <a href="https://twitter.com/cryptol0g1c" target="_blank"><i class="icon-twitter-alt icon-border"></i></a>
            <a href="https://www.facebook.com/CryptologicLawFintech/" target="_blank"><i class="icon-facebook-alt icon-border"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </section>