  <section class="partnerships text-center" id="partners">
    <header>
      <h1>Partner<b>Ships</b></h1>
      <p>
        Some of the World’s smartest companies
      </p>

      <div class="container">
        <div class="row">
          <div class="col">
            <a href="http://infocorp.io/" target="_blank"><img src="assets/img/logo-infocorp-technologies.png"></a>
            <a href="https://www.multichain.com/" target="_blank"><img src="assets/img/logo-multichain.png"></a>
          </div>
        </div>
      </div>

      <h1><b>Technologies</b> we work with</h1>
      <p>
        Languages, Systems, and Platforms we use
      </p>

      <div class="container">
        <div class="d-md-flex flex-column flex-md-row align-items-center">
          <div class="col technologies-item">
            <img src="assets/img/logo-multichain-small.png">
            <br><b>MultiChain</b><br>
            Open platform for Blockchain Applications
          </div>
          <div class="col technologies-item">
            <img src="assets/img/logo-rsk-small.png">
            <br><b>Rootstock RSK</b><br>
            Smarter Bitcoin
          </div>
          <div class="col technologies-item">
            <img src="assets/img/logo-ethereum-small.png">
            <br><b>Ethereum</b><br>
            Smarter Contracts
          </div>
          <div class="col technologies-item">
            <img src="assets/img/logo-bitcoin-small.png">
            <br><b>Bitcoin</b><br>
            Open source P2P money
          </div>
        </div>
      </div>
    </header>
  </section>
