<section class="press-house" id="press">
    <header>
      <h1>Press <b>House</b></h1>
      <p>
        Meet the team behind Cryptologic 
      </p>
    </header>

    <div class="container">

      <div id="press-carousel" class="carousel slide" data-ride="carousel">
      
        <div class="carousel-inner">
      
          <ol class="carousel-indicators">
            <li data-target="#press-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#press-carousel" data-slide-to="1"></li>
          </ol>

          <div class="carousel-item active">
            <div class="d-flex flex-row flex-wrap">
              <a class="press-item col-lg-4 px-5" href="https://puntobiz.com.ar/noticias/val/112137/val_s/126/ni-billetes-ni-plastico-en-rosario-ya-se-puede-pagar-un-cafe-con-bitcoins.html" target="_blank">
                <h1>Ni billetes, ni plástico: en Rosario ya se puede pagar un café con bitcoins</h1>
                <span class="text-right">
                  Leer el artículo completo<br>
                  <img src="assets/img/logo-puntobiz.png" alt="">
                </span>
              </a>
              
              <a class="press-item col-lg-4 px-5" href="http://www.impulsonegocios.com/contenidos/2017/06/29/Editorial_44768.php" target="_blank">
                <h1>El Cairo es el primer bar de Rosario en implementar un sistema de pago con Bitcoins</h1>
                <span class="text-right">
                  Leer el artículo completo<br>
                  <img src="assets/img/logo-impulso.png" alt="">
                </span>
              </a>
              
              <a class="press-item col-lg-4 px-5" href="http://www.lacapital.com.ar/economia/los-dos-grandes-ganchos-el-ahorro-tiempo-y-costos-n1434289.html" target="_blank">
                <h1>Los dos grandes ganchos: el ahorro de tiempo y costos.</h1>
                <span class="text-right">
                  Leer el artículo completo<br>
                  <img src="assets/img/logo-la-capital.png" alt="">
                </span>
              </a>
            </div>
          </div><!-- -->
          
          <div class="carousel-item">
            <div class="d-flex flex-row flex-wrap">
              <a class="press-item col-lg-4 px-5" href="https://puntobiz.com.ar/noticias/val/112137/val_s/126/ni-billetes-ni-plastico-en-rosario-ya-se-puede-pagar-un-cafe-con-bitcoins.html" target="_blank">
                <h1>Ni billetes, ni plástico: en Rosario ya se puede pagar un café con bitcoins</h1>
                <span class="text-right">
                  Leer el artículo completo<br>
                  <img src="assets/img/logo-puntobiz.png" alt="">
                </span>
              </a>
              
              <a class="press-item col-lg-4 px-5" href="http://www.impulsonegocios.com/contenidos/2017/06/29/Editorial_44768.php" target="_blank">
                <h1>El Cairo es el primer bar de Rosario en implementar un sistema de pago con Bitcoins</h1>
                <span class="text-right">
                  Leer el artículo completo<br>
                  <img src="assets/img/logo-impulso.png" alt="">
                </span>
              </a>

            </div>
          </div><!-- -->

        </div><!-- .carousel-inner -->
      </div><!-- #press-carousel -->

    </div>

    <footer class="text-center">
      <h1>Press Inquiries?</h1>

      <p>
        Email us at <a href="mailto:press@crytologic.com">press@crytologic.com</a> 
        or click here to <a href="mailto:press@crytologic.com">Contact Us</a>.
      </p>
    </footer>
  </section>