  <section class="our-services" id="services">
    <div class="container"> 
      <header class="col-8 offset-2">
        <h1>Our <b>Services</b></h1>

        <p>
          Consulting and project development services addressed
          to cryptography, legal and blockchain technology.
        </p>
      </header>

      <div class="row">
        <div class="col-lg-3">
          <div class="list-group list-group-left">
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Cryptocurrencies and Tokens Emission</h5>
              </div>
            </div>
            
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Exchange Platforms Design</h5>
              </div>
            </div>
            
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Smart Contracts and Dapp's</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 platform">
          <img src="assets/img/platform.png" class="img-fluid">

          <img src="assets/img/icon-money.png" class="platform-icon icon-money">
          <img src="assets/img/icon-lock.png" class="platform-icon icon-lock">
          <img src="assets/img/icon-tablet.png" class="platform-icon icon-tablet">
          <img src="assets/img/icon-envelope.png" class="platform-icon icon-envelope">
          <img src="assets/img/icon-cloud.png" class="platform-icon icon-cloud">
          <img src="assets/img/icon-shield.png" class="platform-icon icon-shield">
        </div>

        <div class="col-lg-3">
          <div class="list-group">
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Payment processors and payment gateways</h5>
              </div>
            </div>
          
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">ICO campaigns (Developing ERC20 interface tokens)</h5>
              </div>
            </div>
          
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Optimization & CodeAudit</h5>
              </div>
            </div>
          
            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Crowdfunding</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="container">
      <div class="row">
        <div class="col-6 offset-3 text-center">
          <h2>Legal Services</h2>
          <p>
            Structuring; Regulation & Strategic Jurisdictions; WP Legal Design; Pre-Sale & Sale Documents; Tax Planning; Smart Contracts
            Legal Design; Compliance - KYC/AML advisory; Entrepeneur advising; Serie seed & growth series documentation
          </p>
        </div>
      </div>
    </footer>
  </section>