  <section class="our-team" id="team">
    <header>
      <h1>Our <b>Team</b></h1>
      <p>
        Competencies and professionals skills.<br>
        Learn more about us.
      </p>
    </header>

    <div class="container">

      <div id="team-carousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-3 team-member">
                <img class="rounded-circle" src="assets/img/team-bernardo.jpg" alt="" width="250" height="250">
                <p>
                  <a class="p-1" href="https://www.linkedin.com/in/bernardo-corti-18095711b/" target="_blank"><i class="icon-linkedin"></i></a>
                </p>
                <h2>Bernardo Corti</h2>
                <p class="px-4">Lawyer / CEO</p>
              </div>

              <div class="col-lg-3 team-member">
                <img class="rounded-circle" src="assets/img/team-maximiliano.jpg" alt="" width="250" height="250">
                <p>
                  <a class="p-1" href="https://www.linkedin.com/in/maxicanellas/" target="_blank"><i class="icon-linkedin"></i></a>
                  <a class="p-1" href="https://twitter.com/maxidev0x" target="_blank"><i class="icon-twitter"></i></a>
                </p>
                <h2>Maximiliano Cañellas</h2>
                <p class="px-4">Blockchain Developer / CTO</p>
              </div>
              <div class="col-lg-3 team-member">
                <img class="rounded-circle" src="assets/img/team-nicolas.jpg" alt="" width="250" height="250">
                <p>
                  <a class="p-1" href="https://www.linkedin.com/in/nicol%C3%A1s-litvinoff-4b912a8b/" target="_blank"><i class="icon-linkedin"></i></a>
                </p>
                <h2>Nicolas Litvinoff</h2>
                <p class="px-4">Head of legal and Compliance</p>
              </div>
              <div class="col-lg-3 team-member">
                <img class="rounded-circle" src="assets/img/team-agustin.png" alt="" width="250" height="250">
                <p>
                  <a class="p-1" href="https://www.linkedin.com/in/agufiorenza/" target="_blank"><i class="icon-linkedin"></i></a>
                  <a class="p-1" href="https://twitter.com/agufiorenza" target="_blank"><i class="icon-twitter"></i></a>
                </p>
                <h2>Agustin Fiorenza</h2>
                <p class="px-4">Lead Solidity Developer</p>
              </div>
            </div>
          </div>
        </div>

        <footer>
          <h1>We are hiring!</h1>
          <p>
            Interested? please send your cv at <a href="mailto:jobs@cryptologic.io">jobs@cryptologic.io</a>
          </p>
        </footer>

      </div>

    </div>
  </section>